#canvastv {
  border: 2px solid black;

}

.container {
  display: flex;
  justify-content: space-around;
  
}

.start {
  justify-self: end;
}

#game h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#canvastv {
  background-color: grey;
}
